<!DOCTYPE html>
<html lang="en">

  {% include shared/head.html %}

  <body>

    {% include default/header.html %}

    <div class="page-content">
      <div class="wrapper">

        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta">
              {{ page.date | date: "%b %-d, %Y" }}
              {% if page.author %}
               • {{ page.author }}
              {% endif %}
              {% if page.meta %}
               • {{ page.meta }}
              {% endif %}
            </p>
          </header>

          <article class="post-content">
            {{ content }}
          </article>

          Tags
          <ul>
            {% for tag in page.tags %}
              <li>
                <a href="/{{ tag }}">{{ tag }}</a>
              </li>
            {% endfor %}
          </ul>

        </div>

      </div>
    </div>

    {% include default/footer.html %}

  </body>

</html>